---
- name: restart webserver
  service:
    name: "{{ php_webserver_daemon }}"
    state: restarted
  notify: restart php-fpm
  when: php_enable_webserver

- name: restart php-fpm
  service:
    name: "{{ php_fpm_daemon }}"
    state: restarted
  when: php_enable_php_fpm
  notify: update socket

- name: update socket
  file: 
    path: "{{ php_fpm_listen }}"
    owner: "{{ php_fpm_pool_user }}"
    group: "{{ php_fpm_pool_group }}"
